* {
    box-sizing: border-box;
}

@font-face {
  font-family: "Lyon-Semibold";
  src: url("fonts/Lyon-Text-Semibold.otf");
}

@font-face {
  font-family: "Graphik-Regular";
  src: url("fonts/Graphik-Regular.ttf");
  
}


body {
  font-family: "Graphik-Regular", sans-serif;
  width: 100%;
  font-size: 1em;
  float: left;
  margin: 0;
}

h1{
  font-family: "Lyon-Semibold", serif;
  color: #141434;
  font-size: 3em;
}

/*column structures*/
.column80 {
  display: block;
  width: 80%;
  float: left;
}


.column65 {
  display: block;
  width: 65%;
  float: left;
}

.column35 {
  display: block;
  width: 35%;
  float: left;
}

.column20 {
  display: block;
  width: 20%;
  float: left;
}

/* Create 10 equal columns for images on about page */
.designers-column {
    float: left;
    width: 12.5%;
    padding: 2px;
}

.designers-column img {
    margin-top: 2px;
}


/* Create 3 equal columns for images on about page */
.about-column {
    float: left;
    width: 33%;
    padding: 10px;
}

.about-column img {
    margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*nav bar*/

.barButton {
  position: fixed;
  height: 4%;
  width: 100%;
  border-radius: 0px;
  overflow:auto;
  font-family: 'Graphik-Regular', sans-serif;
  text-align: center;
  color: white;
  font-size: 1em;
  z-index: 5;
}

#about-button {
  background-color: #1d49c5;
}

#designers-button {
  background-color: #FFB3E4;
  bottom: 0%;
}


/*about page*/
#about {
  background: white;
  top:-100em;
  position: absolute;
  z-index: 3;
}

#about-text {
  padding: 10% 2% 2% 10%; 
}

#about-text p{
  font-size: .8em;
  line-height: 1.7em;
  overflow: scroll;
}

#about-photos {
  padding: 12% 2% 0% 10%;
}

/*home page*/

#home {
  height: 100%;
  position: relative;
  background-color: #28bf94;
  z-index: 1;
  overflow: hidden;
}

#home-logo {
  top:-5%;
  height: 80%; 
  z-index: 3; 
}

#home-cards {
  width:90%;
  top: 6%;
  position: fixed;
}

/*home animation photos and halftones*/

#home-photos {
  top: 6%;
  z-index: -2;
}

#aiga{
  top:25em;
  margin: 0% 0% 0% 27%;
  width:15%;
  position: fixed;
  z-index: -2;
}

#halftone3 {
  top:34em;
  margin: 0% 0% 0% 20%;
  width:15%;
  position: fixed;
  z-index: -2;
}

#kairos{
  top:20em;
  margin: 0% 0% 0% 75%;
  width:15%;
  position: fixed;
  z-index: -2;
}

#halftone4 {
  top:17em;
  margin: 0% 0% 0% 70%;
  width:15%;
  position: fixed;
  z-index: -2;
}

#katrina {
  top:10em;
  margin: 0% 0% 0% 10%;
  width:15%;
  position: fixed;
  z-index: -2;
}

#halftone2 {
  top:12em;
  margin: 0% 0% 0% 13%;
  width:15%;
  position: fixed;
  z-index: -2;
}

#table {
  top:3em;
  margin: 0% 0% 0% 45%;
  width:10%;
  position: fixed;
  z-index: -2;
}

#halftone1 {
  top:2em;
  margin: 0% 0% 0% 43%;
  width:10%;
  position: fixed;
  z-index: -3;
}



/*designers page*/
#designers {
  background: white;
  top:+100em;
  height:100%;
  position: fixed;
  z-index: 3;
  padding:3%;

}


/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
        width: 50%;
    }
    #about {
      overflow: hidden;
    }
    #about-text p{
      overflow: hidden;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
    }
    #about {
      overflow: hidden;
    }

    #about-text p{
      overflow: hidden;
    }
}


